<footer class="footer">
    <div class="both-sides-footer">
        <div class="footer-left">
            <a class="footer-logo-nav" href="./index.html">
                <svg class="footer-logotype" width="78.429px" height="24px" aria-label="page logotype">
                    <use href="../img/symbol-defs.svg#icon-12"></use>
                </svg>
            </a>
            <div class="footer-icons-div">
                <svg class="footer-icon" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-Twitter"></use>
                </svg>
                <svg class="footer-icon" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-Dribbble"></use>
                </svg>
                <svg class="footer-icon" width="24" height="24">
                    <use href="../img/symbol-defs.svg#icon-LinkedIn"></use>
                </svg>
            </div>

        </div>
        <div class="footer-right">
            <a href="" class="footer-link">Home</a>
            <a href="#section-hero" class="footer-link">About</a>
            <a href="#section-experience" class="footer-link">Work</a>
            <a href="#section-photo" class="footer-link">Process</a>
            <a href="" class="footer-link">Creator</a>
            <!-- LINK TO MY CV -->
            <a href="https://www.freepik.com" class="footer-link">Resource</a>
            <a href="README" class="footer-link" target="_blank">Read me</a>
            <!-- ADD README FILE -->
        </div>
    </div>
    <p class="footer-text">Not Copyright 2020 • Layout improved by M.Kompel</p>
</footer>