<header class="header">
  <div class="header-container">
    <svg class="logotype" width="78.429px" height="24px" aria-label="page logotype">
      <use href="../img/symbol-defs.svg#icon-12"></use>
    </svg>
    <nav class="page-navigation">
      <ul class="page-navigation-list">
        <li class="page-navigation-list-item">
          <a href="#section-experience">Experience</a>
        </li>
        <li class="page-navigation-list-item">
          <a href="#section-work">Work</a>
        </li>
        <li class="page-navigation-list-item">
          <a href="#section-photo">Photography</a>
        </li>
        <li class="page-navigation-list-item">
          <a href="#section-contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn">
      <svg class="open-menu-btn" width="24" height="24" aria-label="open menu button">
        <use href="../img/symbol-defs.svg#icon-13"></use>
      </svg>
    </button>

  </div>

</header>
