<section class="hero" id="section-hero">

    <img class="hero-mobile-img" src="./img/mobile img/Rectangle 37.jpg" alt="designer photo" width="360"
        height="288"></img>
    <img class="hero-tablet-img" src="./img/tablet img/1/Rectangle 37.jpg" alt="designer photo" width="384"
        height="650"></img>
    <img class="hero-desktop-img" src="./img/desktop img/2/2.jpg" alt="designer photo" width="750" height="650"></img>
    <div class="hero-div">
        <h1 class="hero-title">I’m Robin Williams. A Product Designer <span class="hero-title-span">based in
                Italy.</span></h1>
        <p class="hero-text">I’m probably the most passionate designer you will ever get to work with. If you have a
            great project that needs some amazing skills, I’m your guy.</p>
    </div>
</section>