<section class="philosophy">
    <div class="philosophy-text-div">
        <div class="philosophy-text-without-link">
            <h2 class="philosophy-title">Philosophy & values</h2>
            <p class="philosophy-text">
                I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and
                experience with the universe. I try to grasp these things with my values: authenticity, creativity, &
                hospitality.
            </p>
        </div>
        <a class="philosophy-link" href="#skillset">More about me</a>
    </div>
    <img class="philosophy-mobile-img" src="./img/mobile img/Rectangle 39.jpg" alt="glass ball in hand" width="360"
        height="450">
    <img class="philosophy-tablet-img" src="./img/tablet img/2/Rectangle 39.jpg" alt="glass ball in hand" width="384"
        height="600">
    <img class="philosophy-desktop-img" src="./img/desktop img/3/3.jpg" alt="glass ball in hand" width="720"
        height="600">
</section>