<section class="photography-section" id="section-photo">
    <h2 class="photography-section-title">Photography</h2>
    <p class="photography-section-text">Here is a collection of my best travel pictures that I took while travelling
        places all around the world. </p>
    <div class="photography-section-buttons">
        <button class="photography-section-btn">italy</button>
        <button class="photography-section-btn">australia</button>
        <button class="photography-section-btn">india</button>
        <button class="photography-section-btn">brazil</button>
    </div>
    <div class="photography-section-images">
        <img src="./img/desktop img/13/Rectangle 47.jpg" alt="" width="306" height="420">
        <img src="./img/desktop img/14/Rectangle 48.jpg" alt="" width="306" height="420">
        <img src="./img/desktop img/15/Rectangle 49.jpg" alt="" width="306" height="420">
        <img src="./img/desktop img/16/Rectangle 50.jpg" alt="" width="306" height="420">
    </div>
</section>