<section class="projects-section" id="section-work">
    <div class="projects-section-container">
        <div class="project-title-container">
        <h2 class="projects-section-title">my projects</h2>
        <p class="projects-section-description">Work that I’ve done for the past 8 years</p>
</div>
        <ul class="projects-section-list">
            <li class="projects-section-list-item">
                <img class="project-section-desktop-img" src="../img/projects/11.png"
                    alt="wallet webservice image" width="680" height="390">
                </img>
                    <h3 class="projects-section-list-item-title">Wallet webservice</h3>
            </li>
            <li class="projects-section-list-item">
                <img class="project-section-desktop-img" src="../img/projects/12.png"
                    alt="green harvest webservice image" width="680" height="390">
                </img>
                    <h3 class="projects-section-list-item-title">Green Harvest webservice</h3>
            </li>
            <li class="projects-section-list-item">
                <img class="project-section-desktop-img" src="../img/projects/13.png"
                    alt="english exellence webservice image" width="680" height="390">
                </img>
                    <h3 class="projects-section-list-item-title">English Exellence webservice</h3>
            </li>
            <li class="projects-section-list-item">
                <img class="project-section-desktop-img" src="../img/projects/1.png"
                    alt="power pulse webservice image" width="680" height="390">
                </img>
                    <h3 class="projects-section-list-item-title">Power Pulse webservice</h3>
            </li>
        </ul>
        <button class="projects-section-btn">view all projects</button>
    </div>
</section>