<section class="experience-section" id="section-experience">
    <h2 class="work-experience">work experience</h2>
    <h3 class="companies-experience">Companies I have worked for in the past</h3>
    <ul class="companies-experience-list">
        <li class="companies-experience-list-item">
            <p class="company-number">01</p>

            <h4 class="company-name"><span class="green">Google</span>, Interaction Designer</h4>
            <p class="company-description">I currently am the lead designer on the interaction design team for Google
                Play.</p>

        </li>
        <li class="companies-experience-list-item">
            <p class="company-number">02</p>
            <h4 class="company-name"><span class="blue">Facebook</span>, Product Designer</h4>
            <p class="company-description">I’ve worked on a wide variety of internal tools for facebook over the past 6
                years.</p>

        </li>
        <li class="companies-experience-list-item">
            <p class="company-number">03</p>
            <h4 class="company-name"><span class="pink">Dribbble</span>, Graphic Designer</h4>
            <p class="company-description">I started my design career with Dribbble. I was incharge of creating
                illustrations for the platform.</p>

        </li>
    </ul>
    </h2>
</section>