
/* ========================== MOBILE HEADER STYLES========================== */
.header,
.hero {
  background-color: #000000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
}

.page-navigation-list {
  display: none;
}

.header-btn {
  display: flex;
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* ========================== /MOBILE HEADER STYLES========================== */

/* ========================== TABLET HEADER STYLES========================== */
@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 40px;
  }

  .header-btn {
    display: none;
  }

  .page-navigation-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    cursor: pointer;
  }

  .page-navigation-list-item {
    padding: 32px 24px;
    color: var(--White, #FFF);
    font-family: Sen;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    list-style-type: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-navigation-list-item:hover,
  .page-navigation-list-item:focus {
    background-color: var(--Purple, #5221E6);
  }
}

/* ========================== /TABLET HEADER STYLES========================== */

/* ========================== DESKTOP HEADER STYLES========================== */

@media screen and (min-width: 1158px) {

  .header,
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../img/desktop/1/1.jpg);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .header-container {
    padding: 0 72px;
  }
}
